/* PASTE THIS AT THE TOP OF ALL HTML FILES <link href="master.css" rel="stylesheet" type="text/css" media="all"> */
@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
@import url('https://fonts.googleapis.com/css?family=Aleo&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: white;
    text-align: left;
    font-family: 'Muli';
    font-size: 18px;
    height: 100%;
}

main{
    padding: 25px;
}

.top {
    
}

:root {
    --colname:#1a202c;
    --deepgreen:#386641;
    --grassgreen:#6a994e;
    --yellowgreen:#a7c957;
    --eggshell:#f2e8cf;
    --strawberry:#bc4749;
    --test:rgb(255 106 0);
}

p {

}

.inquote {
    padding:30px;
    background-color:var(--eggshell);
}

.button {
    background-color: var(--yellowgreen);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

h1 {
    color: var(--deepgreen);
    font-family: 'Aleo';
    font-size: 36px;
    text-transform: uppercase;
    padding: 5px 0 3px 0px;
}

h2 {

}

/* Title header */
h6 {
}

/* Shows the map */
#map {
    width: 100%;
    height: 879px;
}

