/* PASTE THIS AT THE TOP OF ALL HTML FILES <link href="master.css" rel="stylesheet" type="text/css" media="all"> */

* {
    margin:0;
    padding:0;
}

body {
    
    background-color:var(--test);
}

:root {
    --colname:#1a202c;
    --deepgreen:#386641;
    --grassgreen:#6a994e;
    --yellowgreen:#a7c957;
    --eggshell:#f2e8cf;
    --strawberry:#bc4749;
    --test:rgb(255 106 0);
}

p {

}

h1 {
    color:var(--deepgreen);
}

h2 {

}

