@import "master.css";



body {
    background-color:var(--test);
    color: black;
}

.top {
    padding: 100px;
}

nav {
    width: 100%;
    height: 50px;
    background-color: var(--deepgreen);
}

ul {
    margin-left: 60px;
    background-color: var(--grassgreen);
    color: white;
}

    ul li {
        list-style: none; /*eliminates bulletpoints*/
        display: inline-block; /*puts in a row*/
        float: left;
        line-height: 50px;
        background-color: inherit;
    }

ul li a {
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
    padding: 0 20px;
    background-color: inherit;
}

a:visited {
    color: inherit;
}

ul li a:hover {
    color: var(--eggshell);
}